* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}


ul {
	list-style: none;
}

.container-custom {
	width: 60%;
	height: 100%;
	display: flex;
	margin: 0 auto;
}

.container-fluid {
	width: 100%;
	height: 100%;
}

.btn-custom {
	margin-top: 40px;
	padding: 15px 50px;
	background: none;
	color: #BE9359;
	border: 2px solid #BE9359;
	cursor: pointer;
	&:hover {
		background-color: #BE9359;
		color: black;
	}
}

.btn-custom-xl {
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 40px;
	padding: 15px 70px;
	background: none;
	color: #BE9359;
	border: 2px solid #BE9359;
	cursor: pointer;
	&:hover {
		background-color: #BE9359;
		color: white;
	}
}

.rg-card {
	padding: 20px;
	flex-basis: 32%;
	text-align: center;
	border: none !important;
	align-items: center;
	--bs-card-inner-border-radius: 0px !important;
	cursor: pointer;
	&:hover {
		color: #BE9359;
		background-color: #F5F5F5;
	}
	&:hover img{
		scale: 1.1;
	}

}
.triangle {
	height: 100px;
	position: absolute;
	right: 0;
	left: 0;
	img {
		height: 100%;
		width: 100%;
	}
}
.upside-down {
	transform: rotateX(180deg);
}

